ion-col {
    vertical-align: middle;
}

.qty {
    max-height: 25px;
    margin: 0 auto;
    vertical-align: middle;
    display:inline-block;
}

span {
    max-height:25px;
    font-size: 20px;
    display:inline-block;
    vertical-align: middle;
}