<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="offer">
  <form [formGroup]="newOfferForm">
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="stacked">
          Offer Title :
        </ion-label>
        <ion-input required type="text" formControlName="title" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">
          Image Url :
        </ion-label>
        <ion-input required type="text" formControlName="imageUrl" name="imageUrl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">
          Description :
        </ion-label>
        <ion-textarea rows="6" required type="text" formControlName="description" name="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">
          Price Per Night :
        </ion-label>
        <ion-input required type="number" formControlName="price" name="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">
         Fee per Additional Guest :
        </ion-label>
        <ion-input required type="number" formControlName="addGuestFee" name="addGuestFee"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Image Preview :</ion-label>
        <ion-img [src]="offer.imageUrl"></ion-img>
      </ion-item>

      <ion-item>
        <ion-button [expand]="block" type="submit" (click)="onSavePlace()">Save New Offer</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>