<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="places"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" [disabled]="favorited" (click)="onFavorite()">
        <ion-label *ngIf="favorited === true" color="warning">Added to Favorites!</ion-label>&nbsp;&nbsp;
        <ion-icon [name]="favorited ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="place">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-sm="12" size-xs="12">
        <ion-img [src]="place?.imageUrl"></ion-img>
      </ion-col>
      <ion-col size-md="6" size-sm="12" size-xs="12" class="text-center">
        <ion-row>
          <ion-col class="text-center">
            {{place?.description}}
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="text-center">
            {{place.price | currency}} per night
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="text-center">
            <small>{{place.addGuestFee | currency}} per additional guest</small>
          </ion-col>
        </ion-row>
        <br>
        <ion-button shape="round" expand="block" (click)="onBookPlace()">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>